<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style2.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
      </style>
    <title>Avalie - Redirect</title>
</head>
<body>
    <header class="header">
      
        <a href="#"><img src="./Avalie.svg" alt="logo Avalie" width="130px"></a> 
      
        <nav>
              <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Sobre nós</a></li>
              </ul>
        </nav>
    </header>

    <section class="cards-container-flex">
      <div class="card-1">
        <div class="title"><b> Playbook </b></div> 
        <p class="paragraph">
          Acessar Playbook
        </p>
        <div class="button"> <button>Acessar</button> </div>

      </div>
      <div class="card-2">
        <div class="title"><b> Dashboard </b></div> 
        <p class="paragraph">
          Acessar Dashboard
        </p>
       <div class="button"> <button>Acessar</button> </div>
      </div>
    </section>

</div>
</body>
</html>
